/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: unset;
    margin: 0;
    padding: 0;
    display: unset;
}

/* ============HERO============ */

.hero__wrapper {
    background-color: #141414;
    position: relative;
}

.hero__hdr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-top: 122px;
}

.watch_deskr-wrapper {
    padding-top: 60px;
}

.watch-swiper {
    width: 266px;
    height: 200px;
    margin-left: 0;
    background-color: #1E2827;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #FFFFFF;
    font-size: 9px;
    position: absolute;
    top: 522px;
    left: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:after {
    left: 20px;
    opacity: hidden;
}

.swiper-button-next:after {
    left: 64px;
    opacity: hidden;
}

.carousel__number-of-watches {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-align: end;
    margin-right: 69px;
    margin-top: 34px;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    justify-content: flex-end;
}

.dash {
    width: 32px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin: 0 6px;
}

.hero__dskr {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 49px 0 40px 87px;
}

.hero__img {
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .hero__hdr {
        font-size: 60px;
        line-height: 1.03;
        max-width: 653px;
        padding-top: 148px;
    }

    .watch_deskr-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 20px;
    }

    .watch-swiper {
        width: 436px;
        height: 255px;
        order: -1;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        height: 100%;
    }

    .swiper-slide__img {
        width: auto;
        height: auto;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        width: 40px;
        height: 40px;
        top: 669px;
    }

    .swiper-button-prev:after {
        left: 32px;
    }

    .swiper-button-next:after {
        left: 84px;
    }

    .carousel__number-of-watches {
        margin: 0;
        position: absolute;
        top: 691px;
        right: 300px;

    }

    .hero__dskr {
        padding: 0;
        max-width: 248px;
        order: -1;
    }

    .hero__img {
        min-width: 704px;
        padding: 40px 0 64px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        min-width: 1440px;
        padding: 0 132px;
    }

    .hero__hdr {
        max-width: 750px;
    }

    .watch_deskr-wrapper {
        padding-top: 122px;
    }

    .watch_deskr-wrapper {
        padding-bottom: 140px;
    }

    .hero__wrapper {
        position: relative;
    }

    .hero__dskr {
        position: absolute;
        top: 148px;
        right: 132px;
    }

    .swiper-button-prev:after {
        left: 132px;
        font-size: 12px;
        text-align: center;
    }

    .swiper-button-next:after {
        left: 184px;
        font-size: 12px;
        text-align: center;
    }

    .carousel__number-of-watches {
        right: unset;
        left: 486px;
    }

    .hero__img {
        max-width: 676px;
        position: absolute;
        top: 315px;
        right: 132px;
        padding: 0;
    }
}